<ion-content class="ion-padding home-content">
  <div class="logo-container">
    <img src="assets/imgs/daretoconnect-logo.png" alt="Dare To Connect Logo">
  </div>

  <div class="ion-padding button-cotainer">
    <div class="button-wrapper">
      <ion-button expand="block" size="large" (click)="goToGameSelection()">PLAY</ion-button>
    </div>
  </div>  
  

  <p class="text-center">
    <a href="https://www.daretoconnectgames.com" target="_blank">www.daretoconnectgames.com</a>
  </p>
</ion-content>
